:root {
  --accent: #ea3939;
  --hover: #d23838;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

img {
  width: 100%;
}

.text-accent {
  color: var(--accent);
}

.header {
  width: 100%;
  padding: 12px 0;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  max-width: 100px;
}

.section {
  padding: 40px 0;
}

.section_news {
  margin-top: 150px;
}

@media screen and (min-width: 768px) {
  .section_news {
    margin-top: 80px;
  }
}

.section_news .img {
  max-width: 300px;
  object-fit: cover;
}

.btn.btn-primary {
  border: none;
  background-color: var(--accent);
  transition: 0.2s ease-in;
}

.btn.btn-primary:hover {
  background-color: var(--hover);
}
